.header__lang-link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    margin-right: 18px;
    text-decoration: underline;
}

.header__lang-link:hover {
    opacity: 0.3;
}

.header__lang-link:last-child{
    text-decoration: none;
    margin-right: 0;
}
@media (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.1;
    }
}