.header__lang-link {
    display: flex;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 1.17;
    text-align: right;
    text-decoration: none;
}

@media (max-width: 415px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.1;
    }
}