.place__item {
    display: inline-grid;
    color: #FFFFFF;
    max-width: 984px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0;
    padding: 0;

}

@media (max-width:1024px) {
    .place__item {
        width: 100%;
        height: 100%;
        column-gap: 34px;
        row-gap: 48px;
        grid-template-rows: auto;
    }
}

@media (max-width:768px) {
    .place__item {
        max-width: 720px;
        width: 100%;
        height: 100%;
        column-gap: 28px;
        row-gap: 48px;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}
@media (max-width:320px) {
    .place {
        max-width: 720px;
        width: 100%;
        height: 100%;
        row-gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

@media (max-width:320px) {
    .place__item {
        max-width: 320px;
        width: 100%;
        height: 100%;
        column-gap: 28px;
        row-gap: 48px;
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}