.place__title {
    font-style: normal;
    font-weight: 900;
    margin: 0;
    padding: 0;
    max-width: 460px;
    width: 90%;
    align-self: end;
    color: rgb(255, 255, 255, 1);
    font-size: 72px;
    line-height: 76px;
}

@media (max-width:1024px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
        width: 92%;
    }
}

@media (max-width:768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 340px;
        width: 94%;
    }
}

@media (max-width:320px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
}