.place__title {
    font-style: normal;
    font-weight: 900;
    margin: 0;
    padding: 0;
    align-self: end;
    color: #FFFFFF;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 328px;
        margin: 0 0 0 24px;
    }
}

@media (max-width: 767px) {
    .place__title {
        font-size: 58px;
        line-height: 1;
    }
}

@media (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 41px;
        margin: 0 16px;
    }
}