.place__title {
    font-style: normal;
    font-weight: 900;
    margin: 0;
    padding: 0;
    max-width: 460px;
    width: 100%;
    align-self: end;
    color: #FFFFFF;
    font-size: 72px;
    line-height: 76px;
}

@media (max-width:1024px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
    }
}

@media (max-width:768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        width: 95%;
    }
}

@media (max-width:767px) {
    .place__title {
        max-width:650px;
        font-size: 58px;
        margin: 0 0 0 16px;
    }
}

@media (max-width:320px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px;
    }
}