.page {
    display: grid;
    color: #FFFFFF;
    max-width: 1280px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
