.photo-grid {
    display: grid;
    max-width: 1184px;
    width: 92.5%;
    padding: 0;
    margin: 0 3.807%;
}

@media (max-width:1024px) {
    .photo-grid {
        display: grid;
        max-width: 928px;
        width: 90.625%;
        padding: 0;
        margin: 0 4.777%;
    }
}

@media (max-width:768px) {
    .photo-grid {
        display: grid;
        max-width: 720px;
        width: 93.75%;
        padding: 0;
        margin: 0 3.205%;
    }
}

@media (max-width:320px) {
    .photo-grid {
        display: grid;
        max-width: 288px;
        width: 90%;
        padding: 0;
        margin: 0 5.035%;
    }
}