.photo-grid {
    display: grid;
    max-width: 1184px;
    width: 92.5%;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media (max-width:1024px) {
    .photo-grid {
        max-width: 928px;
        margin: 0 4.7%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media (max-width:768px) {
    .photo-grid {
        max-width: 720px;
        margin: 0 3%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
}

@media (max-width:320px) {
    .photo-grid {
        max-width: 288px;
        margin: 0 5%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
}