.photo-grid {
    display: grid;
    max-width: 1184px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin-top: 84px;
}

@media (max-width: 1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
        gap: 11px;
        margin-top: 88px;
    }
}
@media (max-width: 768px) {
    .photo-grid {
       width: 90%;
       margin: 60px 16px 0 16px;
    }
}

@media (max-width: 370px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }
}

@media (max-width: 320px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
        gap: 10px;
        margin: 61px 16px;
    }
}