.photo-grid {
    display: grid;
    max-width: 1184px;
    width: calc(100%-96px);
    padding: 0;
    margin:0 auto;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    margin-top: 92px;
    
}

@media (min-width: 1025px) and (max-width: 1279px){
    .photo-grid {
        margin: 92px 48px 0 48px;
        width: calc(100%-96px);

    }
}
@media (max-width:1024px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .photo-grid {
        margin: 88px 48px 0 48px;
        width: calc(100%-96px);

    }
}
@media (max-width:768px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
        gap: 16px;
        margin-top: 88px;
    }
}
@media (min-width:321px) and (max-width:767px){
    .photo-grid {
        margin: 64px 16px 0 16px;
        width: calc(100%-32px);

    }
}

@media (max-width:320px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        gap: 12px;
        margin-top: 64px;
    }
}