.places {
    display: grid;
    max-width: 984px;
    width: 100%;
    margin: 92px auto;
    padding: 0;
}

@media (max-width:1024px) {
    .places {
        max-width: 928px;
        width: 100%;
        margin: 9.155% auto;
    }
}

@media (max-width:768px) {
    .places {
        max-width: 720px;
        width: 100%;
        margin: 11.49% auto;
    }
}

@media (max-width:320px) {
    .places {
        max-width: 320px;
        width: 100%;
        margin: 20.13% 0;
    }
}