p, div, h1, h2, h3, li, ul, img, section { 
    border: 1px solid rgb(111, 248, 32);
    }

.root {
    margin: 0;
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter';
}

.page{
    max-width: 1280px; 
    width: 100%;
    margin: 0;
    padding: 0; 
}

.header {
     display: flex; 
     max-width: 1184px; 
    margin: 28px 48px 0;
    padding: 0;  
    flex-direction: row;
    justify-content: space-between;
}

.header__logo{
    max-width: 176px;
    width: 14,86%;
}

.header__lang-links {
  display: flex; 
  align-items: flex-end; 
  margin: 0;
  padding: 0;
 
  
}

.header__lang-link:first-child {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
     font-size: 24px;
    line-height: 28px;
    text-align: right;
    text-decoration-line: underline;
    margin-right: 18px;

}

.header__lang-link:last-child{
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
     font-size: 24px;
    line-height: 28px;
    text-align: right;
    margin-right:0;
}

@media ( max-width:1024px) {
    .header {
        max-width: 928px; 
        width: 90.7%;
        padding: 0;
    }
    .header__lang-link{
        font-size: 24px;
        line-height: 28px;
    }
    
}

@media ( max-width:768px){
    .header {
        max-width: 720px;
        width: 93,75%;
        margin: 28px 24px 48px 24px;
    }
    .header__lang-link{
        font-size: 24px;
        line-height: 28px;
    }
}

@media ( max-width:320px){
    .header {
        max-width: 288px; 
        width: 90%;
        margin: 16px 16px 0 16px;
    }

    .header__logo{
        max-width: 142px;
        width: 44.375;
    } 
   
    .header__lang-link{
        font-size: 18px;
        line-height: 20px;
    }
}

.lead {
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 56px 145px 0;
    color: #FFFFFF;
    max-width: 984px;
    width: 76,875%;
    flex-direction: column;
}

.lead-title{
font-style: normal;
font-weight: 900;
 font-size: 96px;
 line-height: 100px;
 text-align: center;
 margin:  0 126px 0;
 align-self: center;
}

.lead-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    padding: 0;
    margin:  32px 170px 64px; 
    align-self: center;
    width:640px; 
}

.lead__image {
    max-width: 984px;
    width: 100%; 
    padding: 0;
    margin: auto;
 margin-bottom: 8px; 
}

.lead-caption {
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin:0;
    text-align: left;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    
}

@media ( max-width:1024px){
    
    .lead {
    margin: 48px 48px 0;
    max-width: 928px;
    width: 90.625%;
    }

    .lead-subtitle{
        margin:  32px 143px 56px; 
       
    }

    .lead-title{
        margin: 0 103px;
    }
    
    .lead__image {
        max-width: 928px; 
        margin-bottom: 8px; 
    }
}

@media ( max-width:768px){
    .lead {

        color: #FFFFFF;
        max-width: 768px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
     
    .lead__image {
        max-width: 100%; 
        margin-bottom: 8px; 
    }

    .lead-title{
      margin:  0 24px;
    }

    .lead-subtitle{
     margin:  32px 64px 56px; 
    }

    .lead-caption{
       margin-left: 24px; 
    }
}

 @media ( max-width:320px){
    .lead {
        margin: 48px 2px 0;
        max-width: 320px;
        width: 100%;
    }
     
    .lead__image {
        max-width: 320px;
       width: 100%;
       margin-bottom: 8px; 
    }

    .lead-title{
      margin: 16px 0;
      font-size: 40px;
      line-height: 20px;
      line-height: 44px;
    }

    .lead-subtitle{
     margin:  16px 16px 40px;
     font-size: 16px; 
     width: 288px; 
    }

    .lead-caption{
        margin-left: 16px; 
        font-size: 10px;
        line-height: 14px;
     }
    
}

.intro{
display:grid;
color: #FFFFFF;
max-width: 690px;
margin: 92px 442px 92px 148px;
padding: 0;

}
.intro__title{
margin: 0;
padding: 0;
font-style: normal;
font-weight: 900;

font-size: 54px;
line-height: 58px;
}

.intro__text{
    margin: 40px 0 0 0;
    padding: 0;
font-style: normal;
font-weight: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.intro__lists{
    display: grid;
    column-gap: 0;
    margin:  33px 0 0 0;
}

.intro__list{
margin: 0;
padding: 0;
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
}


@media ( max-width:1024px){
    
}

@media ( max-width:768px){

}

@media ( max-width:320px){

}


.photo-grid{
    display: grid;
    max-width: 1184px;
    padding: 0;
    margin: 0 48px;
}

.photo-grid__items{
    display: grid;
    padding: 0; 
    margin: 0;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 16px;
}

.photo-grid__item {
max-width: 284px;

}

.places{
    display: grid;
    max-width: 984px;
    margin: 92px auto ;
    padding: 0;
}

.place{
 display: grid;   
margin:  0;
padding: 0;
max-width: 984px;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(5, 1fr);
row-gap: 80px;

}

.place__item{
    display: grid;
    color:#FFFFFF;
    max-width: 984px;
    max-height: 660px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 48px;
    margin:0;
    padding: 0;
}

.place__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
    align-self: end;
}

.place__image{
    max-width: 460px;
    max-height: 460px;
}


.place__website{
    display: grid;
    align-content: center;
    align-self: end;
}
.place__link{
    color:#FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
   line-height: 22px;
   padding: 0;
   margin: 12px 0 0 0;
}
.place__url-heading{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
margin: 0;
padding: 0;
}

.place__paragraphs{
    margin: 0;
    padding: 0;
}
.place__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    max-width: 484px;
    max-height: 145px;
    padding: 0;
    margin: 0 0 26px 0;
}

.cover{ 

  background-image: url(./images/sprint-3-images/cover-trains.jpg); 
  background-position: center center;
  background-size: cover;
  position: relative;
  max-width: 1184px;
  margin: auto;
  
 }  

 .cover__link{
    display: block;
  text-decoration: none;
 padding-bottom: 92px;
}

 .cover__link:hover{
  background: rgb(42, 44, 47, 0.3);
 }

.cover__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    margin: auto;
    padding-top: 245px ;
    list-style: none;
}

.cover__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: auto;
    padding-top: 32px ;
    padding-bottom: 245px;
    list-style: none;
}


