p, header, body, div, h1, h2, h3, li, ul, img, section { 
    border: 1px solid rgb(111, 248, 32);
    }

.root {
    margin: 0;
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter';
}

.page{
    max-width: 1280px; 
    width: 100%;
    margin: auto;
    padding: 0; 
}

.header {
     display: flex; 
     max-width: 1184px; 
    margin: 2.221% 3.81% 0;
    padding: 0;  
    flex-direction: row;
    justify-content: space-between;
}

.header__logo{
    max-width: 176px;
    width: 14,86%;
}

.header__lang-links {
  display: flex; 
  align-items: flex-end; 
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.167;
  text-align: right;
}

.header__lang-link:first-child {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    margin-right: 18px;

}

.header__lang-link:last-child{
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-right:0;
}

@media ( max-width:1024px) {
    .header {
        max-width: 928px; 
        width: 90.7%;
        padding: 0;
    }
    .header__lang-links{
        font-size: 1.5em;
    }
}

@media ( max-width:768px){
    .header {
        max-width: 720px;
        width: 93,75%;
        margin: 3.74% 3.21% 6.41% 3.21%;
    }
    .header__lang-links{
        font-size: 1.5em;
    }

}

@media ( max-width:320px){
    .header {
        max-width: 288px; 
        width: 90%;
        margin: 5.32% 5.32% 0 5.32%;
    }

    .header__logo{
        max-width: 142px;
        width: 44.375%;
    } 
   
    .header__lang-links{
        font-size: 1.125em;
        line-height: 1.11;
    }
}

.lead {
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 4.442% 11.5% 0;
    color: #FFFFFF;
    max-width: 984px;
    width: 76,875%;
    flex-direction: column;
    
}

.lead-title{
font-style: normal;
font-weight: 900;
 font-size: 7.500vw;
 line-height: 1.042;
 text-align: center;
 margin:  0 13.004% 0;
 align-self: center;
 max-width: 720px;
 width: 73.17%;

}

.lead-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 2.344vw;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin:  3.303% 17.545% 6.605%; 
    align-self: center;
    max-width: 640px;
    width: 65%;
    
}

.lead__image {
    max-width: 984px;
    width: 100%; 
    padding: 0;
    margin: auto;
 margin-bottom: 0.826%; 
}

.lead-caption {
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin:0;
    text-align: left;
    font-size: 0.781vw;
    letter-spacing: 1.5px;
    text-transform: uppercase; 
}

@media  (min-width: 1281px) and (max-width:5000px){ 
    .lead-title{
        font-size:96px;
        line-height: 1.042;
    } 
}


@media screen and (max-width:1024px) {
    
    .lead {
    margin: 4.778% 4.778% 0;
    max-width: 928px;
    width: 90.625%;
    }

    .lead-subtitle{
        margin: 3.51% 15.7% 6.15%; 
        font-size: 2.930vw;
        line-height: 1.2;
        max-width: 640px;
        width: 68.96%;
    }

    .lead-title{
        margin: 0 11.31%;
        font-size:9.375vw;
        line-height: 1.042;
        max-width: 720px;
        width: 77.58%;
    }
    
    .lead__image {
        max-width: 928px;
        width: 100%; 
        margin-bottom: 0.88%; 
    }
    .lead-caption{
        font-size:0.977vw;
    }

}

@media ( max-width:768px){
    .lead {
        max-width: 768px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
     
    .lead__image {
        width: 100%; 
        max-width: 768px;
        margin-bottom:1.07%; 
    }

    .lead-title{
      margin:  0 3.2%;
      font-size: 12.500vw;
      line-height: 1.04;
      max-width: 720px;
      width: 93.75%;
    }

    .lead-subtitle{
     margin: 4.273% 8.545% 7.477%;
     font-size: 3.906vw;
     line-height: 1.2; 
     max-width: 640px;
        width: 83.33%;
    }

    .lead-caption{
       margin-left: 3.205%;
       font-size: 1.302vw; 
    }
}

 @media ( max-width:320px){
    .lead {
        margin: 15.95% 0.665% 0;
        max-width: 320px;
        width: 100%;
    }
     
    .lead__image {
        max-width: 320px;
       width: 100%;
       margin-bottom: 2.66%; 
    }

    .lead-title{
      margin: 5.035% 0;
      font-size: 12.500vw;
      line-height: 1.1;
      min-width: 288px;
      width: 90%;
    }

    .lead-subtitle{
     margin:  5.32% 5.32% 13.29%;
     font-size: 5.000vw;
     line-height: 1.25;
     min-width:288px;
     width: 90%;
    }

    .lead-caption{
        margin-left: 5.32%; 
        font-size: 3.125vw;
        line-height: 1.4;
     }
    
}

.intro{
max-width: 690px;
width: 53.9%;
margin: 7.3% 35.05% 7.3% 11.74%;
padding: 0;

}
.intro__title{
margin: 0;
padding: 0;
font-style: normal;
font-weight: 900;
font-size: 4.219vw;
line-height: 1.07;
}

.intro__text{
    margin: 5.8% 0 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 163%;
}

.intro__lists{
display: flex;
flex-direction: column;
margin:  4.785% 0 0 0;
font-style: normal;
font-weight: 700;
font-size: 0.938vw;
line-height: 1.5;

}

.intro__list{
margin: 0;
padding: 0;

}

@media ( max-width:1024px){
    .intro{
      
        max-width: 690px;
        width: 63.38%;
        margin: 9.155% 27.861% 9.155% 4.777%;
      
        }
        .intro__title{
        font-size: 5.273vw;
        line-height: 1.07;
        }
        
        .intro__text{
            margin: 5.8% 0 0 0;
            font-size: 1.563vw;
            line-height: 1.07;
        }
        
        .intro__lists{
        margin:  4.785% 0 0 0;
        font-size:1.172vw;
        line-height: 1.5;
        }
        
}

@media ( max-width:768px){
    .intro{
     max-width: 720px;
    width: 93.75%;
    margin:  11.75% 3.205%;
  
    }
    .intro__title{
    font-size: 7.031vw;
    line-height: 1.07;
    }
    
    .intro__text{
        margin: 5.7% 0 0 0;
        font-size:2.083vw;
        line-height: 163%;
    }
    
    .intro__lists{
    margin:  4.7% 0 0 0;
    font-size: 1.563vw;
    line-height: 1.5;
    }
}

@media ( max-width:320px){
    .intro{
        max-width: 288px;
       width: 90%;
       margin:  21.263% 5.32%;
       
       }
       .intro__title{
       font-size:7.500vw;
       line-height: 1.09;
       width:100%;
       max-width: 288px;
       overflow:hidden;
       word-wrap:break-word;

       }
       
       .intro__text{
           margin: 10.02% 0 0 0;
           font-size: 5.000vw;
           line-height: 163%;
           max-width: 288px;
           width: 100%;
           overflow:hidden;
       }
       
       .intro__lists{
       padding: 8.516% 0 0 0;
       font-size: 3.750vw;
       line-height: 1.5;
       display: block;
       white-space: nowrap;
       opacity: 0.8;
       }
   }



.photo-grid{
    display: grid;
    max-width: 1184px;
    padding: 0;
    margin: 0 48px;
}

.photo-grid__items{
    display: grid;
    padding: 0; 
    margin: 0;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 16px;
}

.photo-grid__item {
max-width: 284px;

}

.places{
    display: grid;
    max-width: 984px;
    margin: 92px auto ;
    padding: 0;
}

.place{
 display: grid;   
margin:  0;
padding: 0;
max-width: 984px;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(5, 1fr);
row-gap: 80px;

}

.place__item{
    display: grid;
    color:#FFFFFF;
    max-width: 984px;
    max-height: 660px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 48px;
    margin:0;
    padding: 0;
}

.place__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
    align-self: end;
}

.place__image{
    max-width: 460px;
    max-height: 460px;
}


.place__website{
    display: grid;
    align-content: center;
    align-self: end;
}
.place__link{
    color:#FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
   line-height: 22px;
   padding: 0;
   margin: 12px 0 0 0;
}
.place__url-heading{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
margin: 0;
padding: 0;
}

.place__paragraphs{
    margin: 0;
    padding: 0;
}
.place__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    max-width: 484px;
    max-height: 145px;
    padding: 0;
    margin: 0 0 26px 0;
}

.cover{ 

  background-image: url(./images/sprint-3-images/cover-trains.jpg); 
  background-position: center center;
  background-size: cover;
  position: relative;
  max-width: 1184px;
  margin: auto;
  
 }  

 .cover__link{
    display: block;
  text-decoration: none;
 padding-bottom: 92px;
}

 .cover__link:hover{
  background: rgb(42, 44, 47, 0.3);
 }

.cover__title{
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    margin: auto;
    padding-top: 245px ;
    list-style: none;
}

.cover__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: auto;
    padding-top: 32px ;
    padding-bottom: 245px;
    list-style: none;
}


