
@import url("../blocks/root/root.css");


.root {
    margin: 0;
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 0;
}

.header {
    display: flex;
    max-width: 1184px;
    margin: 2.221% 3.81% 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    max-width: 176px;
    width: 14, 86%;
}

.header__lang-links {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.167;
    text-align: right;
}

.header__lang-link:first-child {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-decoration-line: underline;
    margin-right: 18px;

}

.header__lang-link:last-child {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    margin-right: 0;
}

@media (max-width:1024px) {
    .header {
        max-width: 928px;
        width: 90.7%;
        padding: 0;
    }

    .header__lang-links {
        font-size: 1.5em;
    }
}

@media (max-width:768px) {
    .header {
        max-width: 720px;
        width: 93, 75%;
        margin: 3.74% 3.21% 6.41% 3.21%;
    }

    .header__lang-links {
        font-size: 1.5em;
    }

}

@media (max-width:320px) {
    .header {
        max-width: 288px;
        width: 90%;
        margin: 5.32% 5.32% 0 5.32%;
    }

    .header__logo {
        max-width: 142px;
        width: 44.375%;
    }

    .header__lang-links {
        font-size: 1.125em;
        line-height: 1.11;
    }
}

.lead {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 4.442% 11.5% 0;
    color: #FFFFFF;
    max-width: 984px;
    width: 76, 875%;
    flex-direction: column;

}

.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 7.500vw;
    line-height: 1.042;
    text-align: center;
    margin: 0 13.004% 0;
    align-self: center;
    max-width: 720px;
    width: 73.17%;

}

.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 2.344vw;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 3.303% 17.545% 6.605%;
    align-self: center;
    max-width: 640px;
    width: 65%;

}

.lead__image {
    max-width: 984px;
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 0.826%;
}

.lead__caption {
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 0.781vw;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.25);
}

@media (min-width: 1281px) and (max-width:5000px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.042;
    }
}


@media screen and (max-width:1024px) {

    .lead {
        margin: 4.778% 4.778% 0;
        max-width: 928px;
        width: 90.625%;
    }

    .lead__subtitle {
        margin: 3.51% 15.7% 6.15%;
        font-size: 2.930vw;
        line-height: 1.2;
        max-width: 640px;
        width: 68.96%;
    }

    .lead__itle {
        margin: 0 11.31%;
        font-size: 9.375vw;
        line-height: 1.042;
        max-width: 720px;
        width: 77.58%;
    }

    .lead__image {
        max-width: 928px;
        width: 100%;
        margin-bottom: 0.88%;
    }

    .lead__caption {
        font-size: 0.977vw;
        color: rgb(255, 255, 255, 1);
    }

}

@media (max-width:768px) {
    .lead {
        max-width: 768px;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .lead__image {
        width: 100%;
        max-width: 768px;
        margin-bottom: 1.07%;
    }

    .lead__title {
        margin: 0 3.2%;
        font-size: 12.500vw;
        line-height: 1.04;
        max-width: 720px;
        width: 93.75%;
    }

    .lead__subtitle {
        margin: 4.273% 8.545% 7.477%;
        font-size: 3.906vw;
        line-height: 1.2;
        max-width: 640px;
        width: 83.33%;
    }

    .lead__caption {
        margin-left: 3.205%;
        font-size: 1.302vw;
        color: rgb(255, 255, 255, 1);
    }
}

@media (max-width:320px) {
    .lead {
        margin: 15.95% 0.665% 0;
        max-width: 320px;
        width: 100%;
    }

    .lead__image {
        max-width: 320px;
        width: 100%;
        margin-bottom: 2.66%;
    }

    .lead__title {
        margin: 5.035% 0;
        font-size: 12.500vw;
        line-height: 1.1;
        min-width: 288px;
        width: 90%;
    }

    .lead__subtitle {
        margin: 5.32% 5.32% 13.29%;
        font-size: 5.000vw;
        line-height: 1.25;
        min-width: 288px;
        width: 90%;
    }

    .lead__caption {
        margin-left: 5.32%;
        font-size: 3.125vw;
        line-height: 1.4;
        color: rgb(255, 255, 255, 1);
    }

}

.intro {
    max-width: 690px;
    width: 53.9%;
    margin: 7.3% 35.05% 7.3% 11.74%;
    padding: 0;

}

.intro__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 4.219vw;
    line-height: 1.07;
}

.intro__text {
    margin: 5.8% 0 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 163%;
}

.intro__lists {
    display: flex;
    flex-direction: column;
    margin: 4.785% 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 0.938vw;
    line-height: 1.5;

}

.intro__list {
    margin: 0;
    padding: 0;

}


@media (max-width:1024px) {

    .intro {
        max-width: 690px;
        width: 63.38%;
        margin: 9.155% 27.861% 9.155% 4.777%;

    }

    .intro__title {
        font-size: 5.273vw;
        line-height: 1.07;

    }

    .intro__text {
        margin: 5.8% 0 0 0;
        font-size: 1.563vw;
        line-height: 163%;
    }

    .intro__lists {
        margin: 4.785% 0 0 0;
        font-size: 1.172vw;
        line-height: 1.5;
        white-space: nowrap;
    }

}

@media (max-width:1023px) and (min-width: 769px) {
    .intro__title {
        font-size: 5vw;
        line-height: 1.07;
        white-space: nowrap;
    }
}

@media (max-width:768px) {
    .intro {
        max-width: 720px;
        width: 93.75%;
        margin: 11.75% 3.205%;

    }

    .intro__title {
        font-size: 7.031vw;
        line-height: 1.07;
        white-space: nowrap;
    }

    .intro__text {
        margin: 5.7% 0 0 0;
        font-size: 2.083vw;
        line-height: 163%;
    }

    .intro__lists {
        margin: 4.7% 0 0 0;
        font-size: 1.563vw;
        line-height: 1.5;
    }
}

@media (max-width:320px) {
    .intro {
        max-width: 288px;
        width: 90%;
        margin: 21.263% 5.32%;

    }

    .intro__title {
        font-size: 10vw;
        line-height: 1.09;
        width: 100%;
        max-width: 288px;
        white-space: break-spaces;

    }

    .intro__text {
        margin: 10.02% 0 0 0;
        font-size: 5.000vw;
        line-height: 163%;
        max-width: 288px;
        width: 100%;
        overflow: hidden;
    }

    .intro__lists {
        margin: 12.55% 0 0 0;
        font-size: 3.3vw;
        line-height: 1.5;
        display: block;
        white-space: nowrap;
        opacity: 0.8;
        padding: 0;
    }
}


.photo-grid {
    display: grid;
    max-width: 1184px;
    width: 92.5%;
    padding: 0;
    margin: 0 3.807%;
}

.photo-grid__items {

    display: grid;
    max-width: 1184px;
    padding: 0;
    width: 100%;
    margin: 0;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__item {
    width: 22vw;
    max-width: 284px;
    margin: 0;
    padding: 0;


}


@media (max-width:1024px) {
    .photo-grid {
        display: grid;
        max-width: 928px;
        width: 90.625%;
        padding: 0;
        margin: 0 4.777%;
    }

    .photo-grid__items {
        display: grid;
        padding: 0;
        margin: 0;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }

    .photo-grid__item {
        width: 29vw;
        max-width: 300px;
    }
}

@media (max-width:768px) {
    .photo-grid {
        display: grid;
        max-width: 720px;
        width: 93.75%;
        padding: 0;
        margin: 0 3.205%;
    }

    .photo-grid__items {
        display: grid;
        padding: 0;
        margin: 0;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }

    .photo-grid__item {
        width: 46vw;
        max-width: 352px;
    }
}

@media (max-width:320px) {
    .photo-grid {
        display: grid;
        max-width: 288px;
        width: 90%;
        padding: 0;
        margin: 0 5.035%;
    }

    .photo-grid__items {
        display: grid;
        padding: 0;
        margin: 0;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }

    .photo-grid__item {
        width: 90vw;
        max-width: 288px;

    }
}

.places {
    display: grid;
    max-width: 984px;
    width: 100%;
    margin: 92px auto;
    padding: 0;
}

.place {
    display: grid;
    margin: 0;
    padding: 0;
    max-width: 984px;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 80px;

}

.place__item {
    display: inline-grid;
    color: #FFFFFF;
    max-width: 984px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0;
    padding: 0;

}

.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 6vw;
    line-height: 1;
    margin: 0;
    padding: 0;
    max-width: 460px;
    width: 100%;
    height: 100%;
    align-self: end;
}

.place__image {
    max-width: 460px;
    width: 100%;
    height: 100%;

}


.place__website {
    display: grid;
    align-content: center;
    align-self: end;
}

.place__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 12px 0 0 0;
}

.place__link:hover {
    opacity: 0.3;
}

.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin: 0;
    padding: 0;
}

.place__paragraphs {
    margin: 0;
    padding: 0;
    max-width: 484px;
    width: 100%;
    height: 100%;
}

.place__paragraph:first-child {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    padding: 0;
    margin: 0 0 26px 0;
}

.place__paragraph:last-child {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    padding: 0;
    margin: 0;
}

@media (min-width: 1281px) and (max-width:5000px) {
    .place__title {
        font-size: 72px;
        line-height: 1;
    }
}

@media (max-width:1024px) {
    .places {
        max-width: 928px;
        width: 100%;
        margin: 9.155% auto;
    }

    .place {
        max-width: 928px;
        width: 100%;
        height: auto;
        grid-template-rows: auto;
    }

    .place__item {
        width: 100%;
        height: 100%;
        column-gap: 34px;
        row-gap: 48px;
        grid-template-rows: auto;
    }

    .place__title {
        font-size: 7.031vw;
        line-height: 1.05;

    }

    .place__image {
        width: 100%;
        height: 100%;
    }

    .place__link {
        font-size: 1.758vw;
        line-height: 1.2;
        padding: 0;
        margin: 12px 0 0 0;
    }

    .place__paragraphs {
        width: 100%;
        height: 100%;
    }

    .place__paragraph:last-child {
        margin: 0;
        font-size: 1.758vw;
        line-height: 163%;
    }

    .place__paragraph:first-child {
        font-size: 1.758vw;
        line-height: 163%;
    }
}

@media (max-width:768px) {
    .places {
        max-width: 720px;
        width: 100%;
        margin: 11.49% auto;
    }

    .place {
        max-width: 720px;
        width: 100%;
        row-gap: 73px;
        margin: 0;
        padding: 0;
    }

    .place__item {
        max-width: 720px;
        width: 100%;
        height: 100%;
        column-gap: 28px;
        row-gap: 48px;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .place__title {
        font-size: 5.469vw;
        line-height: 1.1;



    }

    .place__image {
        height: auto;
        width: 100%;
        align-self: start;
    }

    .place__website {}

    .place__link {
        font-size: 2.344vw;
        line-height: 22px;
        padding: 0;
        margin: 12px 0 0 0;
    }

    .place__paragraphs {
        width: auto;
        height: 100%;
    }

    .place__paragraph:first-child {
        font-size: 2.083vw;
        line-height: 163%;
    }

    .place__paragraph:last-child {
        font-size: 2.083vw;
        line-height: 163%;

    }
}

@media (max-width:320px) {
    .places {
        max-width: 320px;
        width: 100%;
        margin: 20.13% 0;
    }

    .place {
        max-width: 720px;
        width: 100%;
        height: 100%;
        row-gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .place__item {
        max-width: 320px;
        width: 100%;
        height: 100%;
        column-gap: 28px;
        row-gap: 48px;
        padding: 0;

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .place__title {
        font-size: 10.000vw;
        line-height: 1.1;
        margin: 0 16px;
    }

    .place__image {
        max-width: 320px;
        width: 100%;

    }

    .place__website {
        margin: 0 16px;

    }

    .place__link {
        font-size: 5.625vw;
        line-height: 22px;
        padding: 0;
        margin: 12px 0 0 0;
    }

    .place__paragraphs {}

    .place__paragraph:first-child {
        font-size: 5.000vw;
        line-height: 163%;
        margin: 32px 16px;
    }

    .place__paragraph:last-child {
        font-size: 5.000vw;
        line-height: 163%;
        margin: 16px;
    }
}

.cover {
    background-image: url(./images/sprint-3-images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    max-width: 1184px;
    width: auto;
    margin: 0 3.807%;

}

.cover__link {
    display: block;
    text-decoration: none;
    background: rgb(42, 44, 47, 0.3);
}

.cover__link:hover {
    background: rgb(42, 44, 47, 0.8);
}

.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 5.625vw;
    line-height: 1.05;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
    margin: 0 26.35% 2.71%;
    padding-top: 20.694%;
    list-style: none;
}

.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 1.406vw;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: 0 34.79%;
    padding-bottom: 20.694%;
    list-style: none;
    word-wrap: break-word;
}

@media (min-width: 1281px) and (max-width:5000px) {
    .cover__title {
        font-size: 72px;
        line-height: 1;
    }
}

@media (max-width:1024px) {

    .cover {
        max-width: 1024px;
        margin: 0;
        padding: 0;

    }

    .cover__title {
        font-size: 7.031vw;
        line-height: 1.05;
        margin: auto;
        padding-top: 19.404%;
    }

    .cover__subtitle {
        font-size: 1.69vw;
        line-height: 1.2;
        margin: 0 33.035%;
        padding-bottom: 19.404%;
    }
}

@media (max-width:768px) {
    .cover {
        max-width: 768px;
        margin: 0;
        padding: 0;

    }

    .cover__title {
        font-size: 9.375vw;
        line-height: 1.05;
        margin: 0 13.886%;
        padding-top: 15.355%;
    }

    .cover__subtitle {
        font-size: 2.26vw;
        line-height: 1.2;
        margin: 0 27.237%;
        padding-bottom: 15.355%;
        word-break: normal;
    }
}

@media (max-width:320px) {
    .cover {
        max-width: 320px;
        margin: 0;
        padding: 0;

    }

    .cover__title {
        font-size: 10vw;
        line-height: 1.094;
        margin: 0 5.035% 5.035%;
        padding-top: 10.065%;
    }

    .cover__subtitle {
        font-size: 4.5vw;
        line-height: 1.14;
        margin: 0 5.035%;
        padding-bottom: 10.38%;
    }
}

.footer {
    display: flex;
    max-width: 1184px;
    width: auto;
    margin: 7.297% 0 1.904%;
    padding: 3.81%;
    align-items: center;
    justify-content: space-between;
}

.footer__links {
    display: flex;
    margin: 0;
    padding: 0;

}

.footer__link {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.125;
    margin-right: 18px;
    padding: 0;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.3;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.094vw;
    line-height: 1.14;
    padding: 0;

}

@media (max-width:1024px) {
    .footer {
        display: flex;
        max-width: 928px;
        margin: 9.155% 0 2.389%;
        padding: 0 4.777%;
    }

    .footer__link {

        font-size: 1.563vw;
        line-height: 1.125;
        margin-right: 18px;
    }

    .footer__copyright {
        font-size: 1.367vw;
        line-height: 1.14;

    }
}

@media (max-width:768px) {
    .footer {
        display: flex;
        max-width: 720px;
        margin: 11.49% 0 3.135%;
        padding: 0 3.135%;
    }

    .footer__link {
        font-size: 2.222vw;
        line-height: 1.125;
        margin-right: 18px;
    }

    .footer__copyright {
        font-size: 1.944vw;
        line-height: 1.14;
    }
}

@media (min-width:321px) and (max-width:670px) {
    .footer {
        max-width: 186px;
        margin: 11.49% 0 3.135%;
        width: 100%;
        height: auto;
        padding: 0 3.135%;
        flex-direction: column;
    }

    .footer__links {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
    }

    .footer__link {
        font-size: 3.582vw;
        line-height: 1;
        margin: 17.205% 0 0 0;
        text-align: left;
    }

    .footer__link:first-child {
        margin-top: 0;
    }

    .footer__copyright {
        font-size: 2.090vw;
        line-height: 1.14;
        margin: 25.81% 0 12.91%;
        align-self: start;
    }
}


@media (max-width:320px) {
    .footer {
        max-width: 186px;
        margin: 11.49% 0 3.135%;
        width: 100%;
        height: auto;
        padding: 0 3.135%;
        flex-direction: column;
    }

    .footer__links {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
    }

    .footer__link {
        font-size: 7.500vw;
        line-height: 1;
        margin: 17.205% 0 0 0;
        text-align: left;
    }

    .footer__link:first-child {
        margin-top: 0;
    }

    .footer__copyright {
        font-size: 4.375vw;
        line-height: 1.14;
        text-align: left;
        margin: 25.81% 0 12.91%;
        align-self: start;
    }
}