.place__image {
    max-width: 460px;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media (max-width: 768px) {
    .place__image {
        max-width: 340px;
        margin: 0 0 0 23px;
    }
}

@media (max-width: 767px) {
    .place__image {
        max-width: 767px;
        width: 95%;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .place__image {
        max-width: 320px;
        width: 100%;
        margin: 0;
    }
}