.place__image {
    max-width: 460px;
}

@media (max-width:1024px) {
    .place__image {
        max-width: 440px;
    }
}

@media (max-width:768px) {
    .place__image {
        max-width: 340px;
    }
}

@media (min-width:321px) and (max-width:700px) {
    .place__image {
        max-width: 700px;
        width: 100%;
        margin: 0;
    }
}

@media (max-width:320px) {
    .place__image {
        max-width: 320px;
        width: 100%;
    }
}