.place__paragraphs {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  
}

@media (max-width:1024px) {
    .place__paragraphs {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:768px) {
    .place__paragraphs {
        width:100%;
        height: 100%;
    }
}

@media (max-width:320px) {
    .place__paragraphs {
        width:100%;
        height: 100%;
    }
}