.intro__lists {
    display: flex;
    flex-direction: column;
    margin: 4.785% 0 0 0;
}

@media (max-width:1024px){
    .intro__lists {
        margin: 4.785% 0 0 0;
        white-space: nowrap;
    }
}

@media (max-width:768px){
    .intro__lists {
        margin: 4.7% 0 0 0;
      
    }
}
@media (max-width:320px){
    .intro__lists {
        margin: 12.55% 0 0 0;
        opacity: 0.8;
        padding: 0;
    }
}