.intro__lists {
    display: flex;
    flex-direction: column;
    margin: 4.8% 0 0 0;
    list-style: none;
    padding: 0;
}

@media (max-width:768px) {
    .intro__lists {
        margin: 4.6% 0 0 0;
    }
}

@media (max-width:320px) {
    .intro__lists {
        margin: 11% 0 0 0;
    }
}