.intro__lists {
    display: flex;
    flex-direction: column;
    margin: 4.785% 0 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 0.938vw;
    line-height: 1.5;

}

@media (max-width:1024px){
    .intro__lists {
        margin: 4.785% 0 0 0;
        font-size: 1.172vw;
        line-height: 1.5;
        white-space: nowrap;
    }
}

@media (max-width:768px){
    .intro__lists {
        margin: 4.7% 0 0 0;
        font-size: 1.563vw;
        line-height: 1.5;
    }
}
@media (max-width:320px){
    .intro__lists {
        margin: 12.55% 0 0 0;
        font-size: 3.3vw;
        line-height: 1.5;
        display: block;
        white-space: nowrap;
        opacity: 0.8;
        padding: 0;
    }
}