.intro__lists {
    display: flex;
    flex-direction: column;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    padding-top: 26px;
}

@media (max-width: 768px) {
    .intro__lists {
        max-width: 720px;
    }
}

@media (max-width: 320px) {
    .intro__lists {
        max-width: 288px;
        margin: 0 16px 0;
        padding-top: 34px;
    }
}