.intro__lists {
    display: flex;
    flex-direction: column;
    margin: 33px 0 0 0;
    list-style: none;
    padding: 0;
    width: 100%;
}
@media (max-width:768px) {
    .intro__lists {
        max-width: 720px;
}
}

@media (max-width:320px) {
    .intro__lists {
        max-width: 288px;
        margin: 34px  16px  0;
    }
}