.place {
    display: grid;
    margin: 0;
    padding: 0;
    max-width: 984px;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 80px;

}

@media (max-width:1024px) {
    .place {
        max-width: 928px;
        width: 100%;
        height: auto;
        grid-template-rows: auto;
    }
}

@media (max-width:768px) {
    .place {
        max-width: 720px;
        width: 100%;
        row-gap: 73px;
        margin: 0;
        padding: 0;
    }
}
