.intro__list {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

@media (max-width: 320px) {
    .intro__list {
        max-width: 288px;
        line-height: 0.5;
    }
}