.intro__list {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

@media (max-width:1024px){
    .intro__list{
        font-size: 12px;
    line-height: 1.5;
        white-space: nowrap;
    }
}
@media (max-width:768px){
    .intro__list{
        font-size: 12px;
        line-height: 1.5;
    }
}
@media (max-width:320px){
    .intro__list{
        font-size: 12px;
    line-height: 1.5;
        white-space: nowrap;
    }
}