.lead {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 4% 11.5% 0;
    color: #FFFFFF;
    max-width: 984px;
    width: 76, 875%;
    flex-direction: column;
}

@media screen and (max-width:1024px) {
    .lead {
        margin: 4.778% 4.778% 0;
        max-width: 928px;
        width: 90.625%;
    }
}

@media (max-width:768px) {
    .lead {
        max-width: 768px;
        width: 100%;
        margin: 0;
    }
}

@media (max-width:320px) {
    .lead {
        margin: 11% 0;
        max-width: 320px;
    }
}