.lead {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    max-width: 984px;
    width: calc(100%-296px);
    flex-direction: column;
    margin-top: 56px;
}

@media (max-width:1024px) {
    .lead {
        max-width: 928px;
        margin-top: 48px;
    }
}

@media (min-width:769px) and (max-width:1023px) {
    .lead {
        width: 100%;
        margin: 48px auto 0;
    }
}

@media (max-width:768px) {
    .lead {
        max-width: 768px;
        margin-top: 24;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .lead {
        width: 100%;
        margin: 48px auto 0;
    }
}

@media (max-width:320px) {
    .lead {
        max-width: 316px;
        margin-top: 48px;
        width: 100%;
    }
}