.lead {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: auto;
    max-width: 984px;
    width: 76, 875%;
    flex-direction: column;
}

@media screen and (max-width:1024px) {
    .lead {
        max-width: 928px;
        width: 90.625%;
    }
}

@media (max-width:768px) {
    .lead {
        max-width: 768px;
        width: 100%;
    }
}

@media (max-width:320px) {
    .lead {
        max-width: 320px;
    }
}