.lead {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    max-width: 984px;
    width: 100%;
    flex-direction: column;
    margin-top: 56px;
}

@media (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin-top: 48px;
    }
}

@media (max-width: 768px) {
    .lead {
        max-width: 768px;
        margin-top: 52px;
    }
}

@media (max-width: 767px) {
    .lead {
        width: 95%;
    }
}

@media (max-width: 320px) {
    .lead {
        max-width: 316px;
        margin-top: 49px;
        width: 100%;
    }
}