.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: 0 35%;
    padding-bottom: 21%;
    list-style: none;
    width: 100%;
}

@media (max-width:1024px) {
    .cover__subtitle {
        margin: 0 32%;
        padding-bottom: 19%;
        padding-top: 3%;
    }
}

@media (max-width:768px) {
    .cover__subtitle {
        margin: 0 27%;
        padding-bottom: 15%;
        padding-top: 4%;
    }
}

@media (min-width:321px) and (max-width: 767px) {
    .cover__subtitle {
        margin: 0 auto;
        width: 94%;
        font-size: 16px;
    }
}

@media (max-width:320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 0 9%;
        padding-bottom: 10%;
        max-width: 260px;
        padding-top: 0;
}
}