.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
    margin: 0 auto;
    padding-bottom: 245px;
    list-style: none;
    width: 100%;
    padding-top: 32px;
}

@media (max-width:1024px) {
    .cover__subtitle {
        padding-bottom: 195px;
    }
}

@media (max-width:768px) {
    .cover__subtitle {
        padding-bottom: 115px;
    }
}

@media (min-width:321px) and (max-width: 767px) {
    .cover__subtitle {
        font-size: 16px;
    }
}

@media (max-width:320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 33px;
        max-width: 260px;
        padding-top: 16px;
}
}