.photo-grid__item {
    width: 100%;
    max-width: 284px;
    margin: 0;
    padding: 0;
}

@media (max-width:1024px) {
    .photo-grid__item {
        max-width: 300px;

    }
}

@media (max-width:768px) {
    .photo-grid__item {
        max-width: 352px;
        margin: 4px auto 2px;
    }
}

@media (max-width:320px) {
    .photo-grid__item {
        max-width: 288px;
        margin: 1px auto 0;
    }
}