.header {
    display: flex;
    max-width: 1184px;
    width: 92.5%;
    margin:  2% auto 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:1024px) {
    .header {
        max-width: 928px;
        width: 90.7%;
        margin:  3% auto 0;
    }
}

@media (max-width:768px) {
    .header {
        max-width: 720px;
        margin: 3.7% auto 6% 3%;
    }
}

@media (max-width:320px) {
    .header {
        max-width: 288px;
        width: 90%;
        margin: 5% auto 0 6%;
    }
}