.header {
    display: flex;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-top: 28px;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width:1279px) {
    .header {
        width: 95%;
    }
}
@media (max-width:1024px) {
    .header {
        max-width: 928px;
        width: 100%;
    }
}
@media (max-width:1023px) {
    .header {
        width: 95%;
    }
}
@media (max-width:768px) {
    .header {
        max-width: 720px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .header {
        width: 95%;
    }
}
@media (max-width:320px) {
    .header {
        padding-top: 16px;
        max-width: 288px;
        width: 100%;
    }
}