.header {
    display: flex;
    max-width: 1184px;
    margin: 2.221% 3.81% 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:1024px) {
    .header {
        max-width: 928px;
        width: 90.7%;
        padding: 0;
    }
}

@media (max-width:768px) {
    .header {
        max-width: 720px;
        width: 93, 75%;
        margin: 3.74% 3.21% 6.41% 3.21%;
    }
}

@media (max-width:320px) {
    .header {
        max-width: 288px;
        width: 90%;
        margin: 5.32% 5.32% 0 5.32%;
    }
}