.place__paragraphs {
    margin: -1px -13px 0;
    padding: 0;
    width: 100%;
    max-width: 484px;
}

@media (max-width:1024px) {
    .place__paragraphs {
        width: 100%;
        max-width: 456px;
    }
}

@media (max-width:768px) {
    .place__paragraphs {
        width: 114%;
        max-width: 352px;
        margin: -2% -1%;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .place__paragraphs {
        width: 100%;
        max-width: 760px;
        margin: 0% auto;
    }
}

@media (max-width:320px) {
    .place__paragraphs {
        width: 100%;
        height: 100%;
    }
}