.place__paragraphs {
    display: grid;
    gap: 26px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 484px;
}

@media (max-width:1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media (max-width:768px) {
    .place__paragraphs {
        max-width: 352px;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .place__paragraphs {
        max-width: 352px;
    }
}

@media (max-width:320px) {
    .place__paragraphs {
        max-width: 288px;
        padding: 0px 16px;
        gap: 25px;
    }
}