.place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 0 auto;
    padding: 0;
  
   
}

@media (max-width:1024px) {
    .place__paragraphs {
        
    }
}

@media (max-width:768px) {
    .place__paragraphs {
       
    }
}

@media (max-width:767px) {
    .place__paragraphs {
       
    }
}

@media (max-width:320px) {
    .place__paragraphs {
       
       
    }
}