.place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 484px;
}

@media (max-width:1024px) {
    .place__paragraphs {
        max-width: 456px;
    }
}

@media (max-width:768px) {
    .place__paragraphs {
        max-width: 352px;
    }
}

@media (max-width:767px) {
    .place__paragraphs {
        max-width: 767px;
        width: 95%;
    }
}

@media (max-width:320px) {
    .place__paragraphs {
        max-width: 288px;
    }
}