.place__cards {
    display: grid;
    margin: 0;
    padding: 0;
    row-gap: 80px;
}

@media (max-width:1024px) {
    .place__cards {
        row-gap: 73px;
    }
}

@media (max-width:768px) {
    .place__cards {
        row-gap: 46px;
    }
}

@media (max-width:320px) {
    .place__cards {
        row-gap: 50px;
    }
}