.place__title {
    font-style: normal;
    font-weight: 900;
    font-size: 6vw;
    line-height: 1;
    margin: 0;
    padding: 0;
    max-width: 460px;
    width: 100%;
    height: 100%;
    align-self: end;
}

@media (min-width: 1281px) and (max-width:5000px) {
    .place__title {
        font-size: 72px;
        line-height: 1;
    }
}

@media (max-width:1024px) {
    .place__title {
        font-size: 7.031vw;
        line-height: 1.05;

    }
}

@media (max-width:768px) {
    .place__title {
        font-size: 5.469vw;
        line-height: 1.1;
    }
}

@media (max-width:320px) {
    .place__title {
        font-size: 10.000vw;
        line-height: 1.1;
        margin: 0 16px;
    }
}