.footer__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    margin: 0 17px 0 0;
    text-decoration: none;
    padding: 0;
}

.footer__link:hover {
    opacity: 0.3;
}

.footer__link:last-child {
    margin-right: 0;
}

@media (max-width:767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 24px;
    }
}

@media (max-width:320px) {
    .footer__link {
        margin-bottom: 32px;
    }
}