.footer__link {
    color: rgb(255, 255, 255, 1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    padding: 0;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.3;
}

.footer__link:last-child {
    margin-right: 0;
}

@media (max-width:1024px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
        margin-right: 18px;
    }
}

@media (max-width:768px) {
    .footer__link {
        font-size: 16px;
        line-height: 16px;
        margin-right: 18px;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
        margin: 0;
        margin-right: 18px;
        text-align: left;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .footer__link:first-child {
        margin-top: 0;
    }
}

@media (max-width:320px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        text-align: left;
        margin-top: 32px;
    }
}

@media (max-width:320px) {
    .footer__link:first-child {
        margin-top: 0;
    }
}