.footer__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-right: 18px;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.3;
}

.footer__link:last-child {
    margin-right: 0;
}
@media (min-width:321px) and (max-width:767px) {
    .footer__link{
        font-size: 24px;
        line-height: 24px;
        text-align: right;
        margin-top: 32px;

    }
}
@media (max-width:320px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-top: 32px;
    }
}
