
.footer__link {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.250vw;
    line-height: 1.125;
    margin-right: 18px;
    padding: 0;
    text-decoration: none;
}

.footer__link:hover {
    opacity: 0.3;
}

.footer__link:last-child {
    margin-right: 0;
}

@media (max-width:1024px) {
    .footer__link {

        font-size: 1.563vw;
        line-height: 1.125;
        margin-right: 18px;
    }
}

@media (max-width:768px) {
    .footer__link {
        font-size: 2.222vw;
        line-height: 1.125;
        margin-right: 18px;
    }
}

@media (min-width:321px) and (max-width:670px) {
    .footer__link {
        font-size: 3.582vw;
        line-height: 1;
        margin: 17.205% 0 0 0;
        text-align: left;
    }
}
@media (min-width:321px) and (max-width:670px) {
    .footer__link:first-child {
        margin-top: 0;
    }
}

@media (max-width:320px) {
    .footer__link {
        font-size: 7.500vw;
        line-height: 1;
        margin: 17.205% 0 0 0;
        text-align: left;
    }
}
@media (max-width:320px) {
    .footer__link:first-child {
        margin-top: 0;
    }
}