.lead__title {
    font-style: normal;
    font-weight: 900;
    text-align: center;
    margin: 0 auto 32px;
    padding: 0;
    align-self: center;
    color: #FFFFFF;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    width: auto;
}

@media (min-width:321px) and (max-width:767px) {
    .lead__title {
        font-size: 12.5vw;
        line-height: 1.1;
    }
}

@media (max-width:320px) {
    .lead__title {
        margin: 0 auto 16px;
        font-size: 40px;
        line-height: 44px;
    }
}