.lead__title {
    font-style: normal;
    font-weight: 900;
    text-align: center;
    margin: 0 13.004% 0;
    padding: 0;
    align-self: center;
    color: rgb(255, 255, 255, 1);
    font-size: 96px;
    line-height: 100px;
}

@media (max-width:1024px) {
    .lead__title {
        margin: 0 11.31%;
    }
}

@media (max-width:768px) {
    .lead__title {
        margin: 0 3.2%;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .lead__title {
        margin: 5.1% 0 0;
        font-size: 12.5vw;
        line-height: 1.1;
    }
}

@media (max-width:320px) {
    .lead__title {
        margin: 5.1% 0 0;
        font-size: 40px;
        line-height: 44px;
    }
}