.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 7.500vw;
    line-height: 1.042;
    text-align: center;
    margin: 0 13.004% 0;
    align-self: center;
    max-width: 720px;
    width: 73.17%;

}

@media (min-width: 1281px) and (max-width:5000px) {
    .lead__title {
        font-size: 96px;
        line-height: 1.042;
    }
}

@media screen and (max-width:1024px){
    .lead__title {
        margin: 0 11.31%;
        font-size: 9.375vw;
        line-height: 1.042;
        max-width: 720px;
        width: 77.58%;
    }
}

@media (max-width:768px){
    .lead__title {
        margin: 0 3.2%;
        font-size: 12.500vw;
        line-height: 1.04;
        max-width: 720px;
        width: 93.75%;
    }
}

@media (max-width:320px){
    .lead__title {
        margin: 5.035% 0;
        font-size: 12.500vw;
        line-height: 1.1;
        min-width: 288px;
        width: 90%;
    }
}