.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 3.307% auto 0;
    align-self: center;
    max-width: 640px;
    width: 65%;
}

@media screen and (max-width:1024px) {
    .lead__subtitle {
        margin: 3.45% auto 0;
        max-width: 640px;
        width: 68.97%;
    }
}

@media (max-width:768px) {
    .lead__subtitle {
        margin: 4.273% auto 0;
        max-width: 640px;
        width: 83.33%;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .lead__subtitle {
        font-size: 3.91vw;
    }
}

@media (max-width:320px) {
    .lead__subtitle {
        margin: 5.32% auto 0;
        font-size: 16px;
        line-height: 1.25;
        min-width: 288px;
        width: 90%;
        padding: 0;
    }
}