.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 2.344vw;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 3.303% 17.545% 6.605%;
    align-self: center;
    max-width: 640px;
    width: 65%;

}
 
@media screen and (max-width:1024px){
    .lead__subtitle {
        margin: 3.51% 15.7% 6.15%;
        font-size: 2.930vw;
        line-height: 1.2;
        max-width: 640px;
        width: 68.96%;
    }
}

@media (max-width:768px){
    .lead__subtitle {
        margin: 4.273% 8.545% 7.477%;
        font-size: 3.906vw;
        line-height: 1.2;
        max-width: 640px;
        width: 83.33%;
    }
}

@media (max-width:320px){
    .lead__subtitle {
        margin: 5.32% 5.32% 13.29%;
        font-size: 5.000vw;
        line-height: 1.25;
        min-width: 288px;
        width: 90%;
    }
}