.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    padding: 0;
    margin: 0 auto 6.5%;
    align-self: center;
    max-width: 640px;
    width: 65%;
}

@media (max-width:768px) {
    .lead__subtitle {
        margin: 0 auto 7.3%;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .lead__subtitle {
        font-size: max(3.91vw, min(16px));
        width: 90%;
    }
}

@media (max-width:320px) {
    .lead__subtitle {
        margin-bottom: 40px;
        font-size: 16px;
        line-height: 1.25;
        min-width: 288px;
        width: 90%;
    }
}