.footer__links {
    display: flex;
    margin: 0;
    padding: 0;
}

@media (min-width:321px) and (max-width:767px) {
    .footer__links {
        width: 100%;
        flex-direction: column;
    }
}

@media (max-width:320px) {
    .footer__links {
        flex-direction: column;
        padding: 0 0 0 16px;
    }
}