.footer__links {
    display: flex;
    margin: 0;
    padding: 0;

}

@media (min-width:321px) and (max-width:767px) {
    .footer__links {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width:320px) {
    .footer__links {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
    }
}