.place__paragraph {
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin:  0 0 26px 0;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;

}

.place__paragraph:last-child {
    margin: 0;
}

@media (max-width:768px) {
    .place__paragraph {
        font-size: 16px;
    }
}
