.place__paragraph {
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
  
    padding: 0; 
    object-fit: contain;
}

@media (max-width: 1024px) {
    .place__paragraph {
        
    }
}

@media (max-width:768px) {
    .place__paragraph {
       
        font-size: 16px;
    }
}

@media (max-width:767px) {
    .place__paragraph {
      
        margin: 0 16px 0 16px;
       
    }
}
@media (max-width:320px) {
    .place__paragraph {
       
        margin: 0;
    }
}
