.place__paragraph {
    font-style: normal;
    font-weight: 400;
    margin: 0;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    max-width: 484px;
    width: 100%;
}

.place__paragraph:last-child{
    padding: 0;
}

@media (max-width:768px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 163%;
    }
}
@media (max-width:320px) {
    .place__paragraph {
        max-width: 288px;
    }
}
