.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    margin: 0;
}

@media (min-width:321px) and (max-width:767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        margin: 32px 0 24px 0;
        align-self: start;
        padding: 0;
    }
}

@media (max-width:320px) {
    .footer__copyright {
        margin: 48px 0 0 0;
       
    }
}