.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.094vw;
    line-height: 1.14;
    padding: 0;

}

@media (max-width:1024px) {
    .footer__copyright {
        font-size: 1.367vw;
        line-height: 1.14;

    }
}


@media (max-width:768px) {
    .footer__copyright {
        font-size: 1.944vw;
        line-height: 1.14;
    }
}

@media (min-width:321px) and (max-width:670px) {
    .footer__copyright {
        font-size: 2.090vw;
        line-height: 1.14;
        margin: 25.81% 0 12.91%;
        align-self: start;
    }
}

@media (max-width:320px) {
    .footer__copyright {
        font-size: 4.375vw;
        line-height: 1.14;
        text-align: left;
        margin: 25.81% 0 12.91%;
        align-self: start;
    }
}