.footer__copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size:14px;
    line-height: 16px;
    padding: 0;

}

@media (max-width:768px) {
    .footer__copyright {
        font-size:14px;
        line-height: 16px;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .footer__copyright {
        font-size:14px;
        line-height: 14px;
        text-align: left;
        align-self: start;
    }
}

@media (max-width:320px) {
    .footer__copyright {
        font-size:14px;
        line-height: 14px;
        text-align: left;
        margin: 25.81% 0 12.91%;
        align-self: start;
    }
}