.lead__image {
    max-width: 984px;
    width: 100%;
    padding: 0;
    margin: 6.605% auto 0.826%;
}

@media screen and (max-width:1024px) {
    .lead__image {
        max-width: 928px;
        margin: 6% auto 1%;
    }
}

@media (max-width:768px) {
    .lead__image {
        max-width: 768px;
        margin: 7.35% auto 1%;
    }
}

@media (max-width:320px) {
    .lead__image {
        max-width: 320px;
        width: 100%;
        margin: 12% -2px 2.66%;
    }
}