.lead__image {
    max-width: 984px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width:1024px) {
    .lead__image {
        max-width: 928px;
    }
}

@media (max-width:768px) {
    .lead__image {
        max-width: 768px;
    }
}

@media (max-width:320px) {
    .lead__image {
        max-width: 320px;
    }
}