.intro__text {
    margin: 40px 0 33px 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.64;
    width: 100%;
    max-width: 690px;
}

@media (max-width: 768px) {
    .intro__text {
        max-width: 720px;
    }
}

@media (max-width: 320px) {
    .intro__text {
        max-width: 288px;
        margin: 34px 16px 0;

    }
}