.intro__text {
    margin: 6% 0 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}


@media (max-width:768px) {
    .intro__text {
        margin: 5% 0%;
    }
}

@media (max-width:320px) {
    .intro__text {
        margin: 13% 0%;
        max-width: 285px;
        overflow: hidden;
    }
}