.intro__text {
    padding: 50px 0 0 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    width: 100%;
    max-width: 690px;
}

@media (max-width: 768px) {
    .intro__text {
        max-width: 720px;
        padding: 45px 0 0 0;
    }
}

@media (max-width: 320px) {
    .intro__text {
        max-width: 288px;
        margin: 0 16px 0;
        padding: 40px 0 0 0;
    }
}