.intro {
    max-width: 690px;
    width: calc(100% - 590px);
    margin: 92px 442px 0 148px;
    padding: 0;
}

@media (min-width: 1025px) and (max-width: 1279px) {
    .intro {
        margin: 92px 286px 0 48px;
    }
}

@media (max-width:1024px) {
    .intro {
        margin: 92px 286px 0 48px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .intro {
        width: calc(100% - 48px);
        margin: 88px 24px 0 24px;
    }
}

@media (max-width:768px) {
    .intro {
        width: calc(100% - 48px);
        margin: 88px 24px 0 24px;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .intro {
        margin: 64px 24px 0 24px;
        width: calc(100% - 48px);
    }
}

@media (max-width:320px) {
    .intro {
        margin: 64px 16px 0 16px;
    }
}