.intro {
    max-width: 690px;
    width: 100%;
    margin: 7% 25% 7% 12%;
    padding: 0;
}

@media (max-width:1024px) {
    .intro {
        max-width: 690px;
        width: 100%;
        margin: 9% 27% 9% 4.5%;
    }
}

@media (max-width:768px) {
    .intro {
        max-width: 720px;
        width: 100%;
        margin: 11.5% 3%;
    }
}

@media (min-width:321px) and (max-width: 767px) {
    .intro {
        width: 90%;
    }
}

@media (max-width:320px) {
    .intro {
        max-width: 288px;
        width: 100%;
        margin: 20% 5%;
    }
}