.intro {
    max-width: 690px;
    width: 100%;
    margin: 7.2% 34.4% 7.2% 11.5%;
    padding: 0;
}

@media (max-width:1024px) {
    .intro {
        margin: 9% 28% 9% 4.7%;
    }
}

@media (max-width:768px) {
    .intro {
        max-width: 720px;
        margin: 11.5% auto;
    }
}

@media (min-width:321px) and (max-width: 767px) {
    .intro {
        width: 90%;
    }
}

@media (max-width:320px) {
    .intro {
        max-width: 288px;
        margin: 20% auto;
    }
}