.intro {
    max-width: 690px;
    width: 100%;
    margin: 92px auto 0 141px;
    padding: 0;
}

@media (max-width: 1024px) {
    .intro {
        margin: 92px auto 0 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 720px;
        margin: 92px auto 0;
    }
}

@media (max-width: 767px) {
    .intro {
        width: 95%;
    }
}

@media (max-width: 320px) {
    .intro {
        margin: 70px 0 0 0;
        min-width: 288px;
        width: 100%;
    }
}