.cover {
    background-image: url(../../images/sprint-3-images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    max-width: 1184px;
    width: auto;
    margin: 0 3.807%;

}

@media (max-width:1024px) {

    .cover {
        max-width: 1024px;
        margin: 0;
        padding: 0;

    }
}


@media (max-width:768px) {
    .cover {
        max-width: 768px;
        margin: 0;
        padding: 0;

    }
}

@media (max-width:320px) {
    .cover {
        max-width: 320px;
        margin: 0;
        padding: 0;

    }
}