.cover {
    background-image: url(../../images/sprint-3-images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 92px;
}

@media (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }
}

@media (max-width: 768px) {
    .cover {
        max-width: 768px;
        margin-top: 85px;
    }
}

@media (max-width: 767px) {
    .cover {
        width: 95%;
    }
}

@media (max-width: 320px) {
    .cover {
        max-width: 320px;
        margin-top: 47px;
        width: 100%;
    }
}