.cover {
    background-image: url(../../images/sprint-3-images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    max-width: 1184px;
    width:calc(100%-96px);
    margin: 0 auto;
    padding: 0;
    margin-top: 92px;
}

@media (min-width: 1025px) and (max-width: 1279px) {
    .cover {
        margin: 92px 48px 24px 48px;
        width:calc(100%-96px);
    }
}

@media (max-width:1024px) {
    .cover {
        max-width: 1024px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .cover {
        margin: 88px 0 0 0;
        width: 100%;
    }
}

@media (max-width:768px) {
    .cover {
        max-width: 768px;
        margin-top: 88px;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .cover {
        margin: 64px 0 0 0;
        width: 100%;
    }
}

@media (max-width:320px) {
    .cover {
        max-width: 316px;
        margin-top: 66px;
        width: 100%;
    }
}