.cover {
    background-image: url(../../images/sprint-3-images/cover-trains.jpg);
    background-position: center center;
    background-size: cover;
    max-width: 1184px;
    width: 92.5%;
    margin: 0 auto;
}

@media (max-width:1024px) {
    .cover {
        max-width: 1024px;
        width: 100%;
        padding: 0;
    }
}

@media (max-width:768px) {
    .cover {
        max-width: 768px;
    }
}

@media (max-width:320px) {
    .cover {
        max-width: 320px;

    }
}