.place__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 12px 0 0 0;
    text-decoration-line: underline;
}

.place__link:hover {
    opacity: 0.3;
}