.place__link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    margin: 12px 0 0 0;
}

.place__link:hover {
    opacity: 0.3;
}

@media (max-width:1024px) {
    .place__link {
        font-size: 1.758vw;
        line-height: 1.2;
        padding: 0;
        margin: 12px 0 0 0;
    }
}

@media (max-width:768px) {
    .place__link {
        font-size: 2.344vw;
        line-height: 22px;
        padding: 0;
        margin: 12px 0 0 0;
    }
}

@media (max-width:320px) {
    .place__link {
        font-size: 5.625vw;
        line-height: 22px;
        padding: 0;
        margin: 12px 0 0 0;
    }
}