.photo-grid__items {
    display: grid;
    max-width: 1184px;
    padding: 0;
    width: 100%;
    margin: 0;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

@media (max-width:1024px){
    .photo-grid__items {
        display: grid;
        padding: 0;
        margin: 0;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media (max-width:768px){
    .photo-grid__items {
        display: grid;
        padding: 0;
        margin: 0;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 16px;
    }
}

@media (max-width:320px){
    .photo-grid__items {
        display: grid;
        padding: 0;
        margin: 0;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
    }
}