.lead__caption {
    font-style: normal;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.25;
}

@media screen and (max-width:1024px) {
    .lead__caption {
        font-size: 10px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 1);
    }
}

@media (max-width:768px) {
    .lead__caption {
        margin-left: 3.205%;
        font-size: 10px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 1);
    }
}

@media (max-width:320px) {
    .lead__caption {
        margin: -4px 5.32% 0;
        font-size: 10px;
        line-height: 1.4;
        color: rgba(255, 255, 255, 1);
        margin: -1px 4.32% 0px;
    }
}