.lead__caption {
    font-style: normal;
    padding: 0;
    margin: 0;
    margin-top: 8px;
    text-align: left;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width:768px) {
    .lead__caption {
        margin-left: 3.2%;
    }
}

@media (max-width:320px) {
    .lead__caption {
        margin-left: 5%;
    }
}