.lead__caption {
    font-style: normal;
    padding: 0;
    margin: 0;
    padding-top: 8px;
    text-align: left;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
@media (max-width: 1023px) {
    .lead__caption {
        margin: 0 0 0 24px;
    }
}

@media (max-width: 320px) {
    .lead__caption {
        margin: 0 0 0 10px;
    }
}