.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    text-align: center;
    color: rgb(255, 255, 255, 1);
    max-width: 560px;
    margin: 0 26.35% 2.71%;
    padding-top: 20.694%;
    list-style: none;
    width: 100%;
}
@media (max-width:1024px) {
    .cover__title {
        margin: auto;
        padding-top: 195px;
    }
}

@media (max-width:768px) {
    .cover__title {
        margin: 0 14%;
        padding-top: 15%;
    }
}

@media (min-width: 321px) and (max-width:767px) {
    .cover__title {
        max-width: 560px;
        width: 47%;
        font-size: 72px;
        line-height: 76px;
        margin: 0 auto;
        width: 94%;
    }
}

@media (min-width:321px) and (max-width: 767px) {
    .cover__title {
        font-size: max(9.39vw, min(32px));
        line-height: 1;
    }
}

@media (max-width:320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 16px 16px;
        padding-top: 39px;
        width: 100%;
        max-width: 288px;
    }
}