.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color:rgb(255, 255, 255, 1);
    max-width: 560px;
    margin: 0 26.35% 2.71%;
    padding-top: 20.694%;
    list-style: none;
}

@media (min-width: 1281px) and (max-width:5000px) {
    .cover__title {
        font-size: 72px;
        line-height: 1;
    }
}

@media (max-width:1024px) {
    .cover__title {
        font-size: 7.031vw;
        line-height: 1.05;
        margin: auto;
        padding-top: 19.404%;
    }
}

@media (max-width:768px) {
    .cover__title {
        font-size: 9.375vw;
        line-height: 1.05;
        margin: 0 13.886%;
        padding-top: 15.355%;
    }
}

@media (max-width:320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 5.035% 5.035%;
        padding-top: 10.065%;
    }
}