.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    text-align: center;
    color: rgb(255, 255, 255, 1);
    max-width: 560px;
    margin: 0 auto;
    padding-top: 245px;
    list-style: none;
    width: 100%;
}

@media (max-width:1024px) {
    .cover__title {
        padding-top: 195px;
    }
}

@media (max-width:768px) {
    .cover__title {
        padding-top: 115px;
    }
}

@media (min-width:321px) and (max-width: 767px) {
    .cover__title {
        font-size: max(9.39vw, min(32px));
        line-height: 1;
    }
}

@media (max-width:320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding-top: 33px;
        max-width: 288px;
    }
}