.place__paragraph:first-child {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    padding: 0;
    margin: 0 0 26px 0;
}

.place__paragraph:last-child {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    padding: 0;
    margin: 0;
}

@media (max-width:1024px) {
    .place__paragraph:last-child {
        margin: 0;
        font-size: 1.758vw;
        line-height: 163%;
    }
}
@media (max-width:1024px) {
    .place__paragraph:first-child {
        font-size: 1.758vw;
        line-height: 163%;
    }
}

@media (max-width:768px) {
    .place__paragraph:first-child {
        font-size: 2.083vw;
        line-height: 163%;
    }
}
@media (max-width:768px) {
    .place__paragraph:last-child {
        font-size: 2.083vw;
        line-height: 163%;

    }
}

@media (max-width:320px) {
    .place__paragraph:first-child {
        font-size: 5.000vw;
        line-height: 163%;
        margin: 32px 16px;
    }
}
@media (max-width:320px) {
    .place__paragraph:last-child {
        font-size: 5.000vw;
        line-height: 163%;
        margin: 16px;
    }
}