.place {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 92px;
   
}

@media (max-width:1024px) {
    .place {
        max-width: 928px;
    }
}

@media (max-width:768px) {
    .place {
        max-width: 720px;
        margin-top: 88px;
    }
}

/*@media (max-width:767px) {
    .place {
        max-width: 320px;
        margin-top: 61px;
        object-fit: cover;
    }
}*/

@media (max-width:320px) {
    .place {
        max-width: 320px;
        margin-top: 61px;
    }
}