.place {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 92px;
}

@media (max-width:1024px) {
    .place {
        max-width: 928px;
        margin-top: 79px;
    }
}

@media (max-width: 1023px) {
    .place {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .place {
        margin-top: 88px;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .place {
        max-width: 700px;
        margin-top: 61px;
        width: 95%;
    }
}

@media (max-width: 320px) {
    .place {
        max-width: 320px;
        margin-top: 59px;
    }
}