
.footer {
    display: flex;
    max-width: 1184px;
    width: auto;
    margin: 7.297% 0 1.904%;
    padding: 3.81%;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:1024px) {
    .footer {
        display: flex;
        max-width: 928px;
        margin: 9.155% 0 2.389%;
        padding: 0 4.777%;
    }
}

@media (max-width:768px) {
    .footer {
        display: flex;
        max-width: 720px;
        margin: 11.49% 0 3.135%;
        padding: 0 3.135%;
    }
}

@media (min-width:321px) and (max-width:670px) {
    .footer {
        max-width: 186px;
        margin: 11.49% 0 3.135%;
        width: 100%;
        height: auto;
        padding: 0 3.135%;
        flex-direction: column;
    }
}

@media (max-width:320px) {
    .footer {
        max-width: 186px;
        margin: 11.49% 0 3.135%;
        width: 100%;
        height: auto;
        padding: 0 3.135%;
        flex-direction: column;
    }
}

