
.footer {
    display: flex;
    max-width: 1184px;
    width: auto;
    margin: 7% auto 2%;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:1024px) {
    .footer {
        display: flex;
        max-width: 928px;
        margin: 7% auto 2%;
    }
}

@media (max-width:768px) {
    .footer {
        display: flex;
        max-width: 720px;
        margin: 11% auto 3%;
    }
}

@media (min-width:321px) and (max-width:670px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
    }
}

@media (max-width:320px) {
    .footer {
        max-width: 186px;
        flex-direction: column;
        margin: 17% 17px -1%;
    }
}

