
.footer {
    display: flex;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 92px;
    margin-bottom: 24px;
}

@media (max-width:1024px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width:768px) {
    .footer {
        max-width: 720px;
      margin-top: 90px;
    }
}
@media (min-width:321px) and (max-width:767px) {
    .footer{
        flex-direction: column; 
        margin-top: 64px;
    }
}
@media (max-width:320px) {
    .footer {
        width: 186px;
        flex-direction: column;
        margin: 0;
        padding: 64px  0  24px 16px;
    }
}

