.footer {
    display: flex;
    max-width: 1184px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 92px;
    padding: 0 0 24px;
}

@media (max-width: 1279px) {
    .footer {
        width: 95%;
    }
}

@media (max-width: 1024px) {
    .footer {
        max-width: 928px;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .footer {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 720px;
        width: 100%;
        margin-top: 78px;
    }
}

@media (max-width: 767px) {
    .footer {
        flex-direction: column;
        max-width: 280px;
        margin: 50px 0 0 24px;
    }
}

@media (max-width: 320px) {
    .footer {
        width: 100%;
        padding: 0;
        margin: 54px 0 24px 16px;
    }
}