.footer {
    display: flex;
    max-width: 1184px;
    width: calc(100%-96px);
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 92px;
    margin-bottom: 24px;
}

@media (min-width: 1025px) and (max-width: 1279px) {
    .footer {
        margin: 92px 48px 24px 48px;
        width: calc(100%-96px);
    }
}

@media (max-width:1024px) {
    .footer {
        max-width: 928px;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .footer {
        margin: 88px 48px 24px 48px;
        width: calc(100%-96px);
    }
}

@media (max-width:768px) {
    .footer {
        max-width: 720px;
        margin-top: 90px;
    }
}

@media (min-width:321px) and (max-width:767px) {
    .footer {
        flex-direction: column;
        margin: 64px 0 24px 20px;
    }
}

@media (max-width:320px) {
    .footer {
        width: 186px;
        flex-direction: column;
        margin: 0;
        padding: 64px 0 24px 24px;
    }
}