.header__lang-links {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1.167;
    text-align: right;
}

@media (max-width:1024px){
    .header__lang-links {
        font-size: 1.5em;
    }
}

@media (max-width:768px){
    .header__lang-links {
        font-size: 1.5em;
    }
}

@media (max-width:320px) {
    .header__lang-links {
        font-size: 1.125em;
        line-height: 1.11;
    }
}