.header__lang-links {
    display: flex;
    font-style: normal;
    font-weight: 400;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    text-align: right;
}

@media  (max-width: 320px){
    .header__lang-links {
        align-items: center; 
        margin-top: 8px;
}  
}