.place__website {
    display: grid;
    align-self: end;
    max-width: 456px;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width:320px) {
    .place__website {
        margin-left: 16px;
    }
}