.place__website {
    display: grid;
    align-content: center;
    align-self: end;
    padding: 0;
    margin: 0 -13px;
}

@media (min-width:321px) and (max-width:767px) {
    .place__website {
        margin: 0 2%;
    }
}

@media (max-width:320px) {
    .place__website {
        margin: 0 4%;
    }
}