.place__image {
    max-width: 460px;
    width: 100%;
    height: 100%;

}

@media (max-width:1024px) {
    .place__image {
        width: 100%;
        height: 100%;
    }
}

@media (max-width:768px) {
    .place__image {
        height: auto;
        width: 100%;
        align-self: start;
    }
}

@media (max-width:320px) {
    .place__image {
        max-width: 320px;
        width: 100%;

    }
}