.place__item {
    display: grid;
    color: #FFFFFF;
    max-width: 984px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
}

@media (max-width:1024px) {
    .place__item {
        column-gap: 34px;
        row-gap: 48px;
    }
}

@media (max-width:768px) {
    .place__item {
        max-width: 720px;
        row-gap: 48px;
        column-gap: 40px;
        padding: 0;
        margin: 0;
    }
}

@media (min-width:321px) and (max-width:700px) {
    .place__item {
        max-width: 700px;
        row-gap: 48px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:320px) {
    .place__item {
        max-width: 320px;
        row-gap: 32px;
        grid-template-columns: repeat(1, 1fr);
    }
}