.place__item {
    display: grid;
    color: #FFFFFF;
    max-width: 984px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
    margin: 0;
    padding: 0;
}

@media (max-width:1024px) {
    .place__item {
        column-gap: 34px;
        row-gap: 48px;
    }
}

@media (max-width:768px) {
    .place__item {
        row-gap: 48px;
        column-gap: 28px;
    }
}

@media (min-width:321px) and (max-width:700px) {
    .place__item {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        margin: 64px 24px 0 24px;
        width: calc(100%-48px);
    }
}

@media (max-width:320px) {
    .place__item {
        max-width: 320px;
        row-gap: 32px;
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    }
}