.place__item {
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 14px;
    row-gap: 48px;
    margin: 0;
    margin: 0 0 80px;
}

.place__item:last-child {
    margin: 0;
}

@media (max-width: 768px) {
    .place__item {
        row-gap: 46px;
        column-gap: 7px;
        margin: 0 0 73px;
    }
}

@media (max-width: 767px) {
    .place__item {
        row-gap: 32px;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 0 56px;
    }
}

