.place__item {
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 19px;
    row-gap: 44px;
    margin: 0 0 86px;
    padding: 0;
}

@media (max-width: 1024px) {
    .place__item {
        column-gap: 32px;
    }
}

@media (max-width: 768px) {
    .place__item {
        row-gap: 47px;
        column-gap: 7px;
        margin: 0 0 69px;
    }
}

@media (max-width: 767px) {
    .place__item {
        row-gap: 31px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 320px) {
    .place__item {
        margin: 0 0 62px;
        row-gap: 31px;
    }
}

.place__item:last-child {
    margin: 0;
}