.place__item {
    display: grid;
    color: #FFFFFF;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 19px;
    row-gap: 44px;
    margin: 0 0 80px;
    padding: 0;
}

@media (max-width: 1024px) {
    .place__item {
        column-gap: 32px;
    }
}

@media (max-width: 768px) {
    .place__item {
        column-gap: 25px;
        column-gap: 25px;
        margin: 0 0 47px;
    }
}

@media (max-width: 767px) {
    .place__item {
        row-gap: 32px;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 320px) {
    .place__item {
        margin: 0 0 24px;
         row-gap: 32px;
    }
}
.place__item:last-child{
    margin: 0;
}
