.intro__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 4.219vw;
    line-height: 1.07;
}

@media (max-width:1024px){
    .intro__title {
        font-size: 5.273vw;
        line-height: 1.07;
    }
}

@media (max-width:1023px) and (min-width: 769px) {
    .intro__title {
        font-size: 5vw;
        line-height: 1.07;
        white-space: nowrap;
    }
}

@media (max-width:768px){
    .intro__title {
        font-size: 7.031vw;
        line-height: 1.07;
        white-space: nowrap;
    }
}

@media (max-width:320px){
    .intro__title {
        font-size: 10vw;
        line-height: 1.09;
        width: 100%;
        max-width: 288px;
        white-space: break-spaces;
    }
}