.intro__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
}

@media (min-width:321px) and (max-width: 767px) {
    .intro__title {
        font-size: max(7.04vw, min(32px));
    }
}

@media (max-width:320px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
}